<style>
.fa-edit{
	color:#23ae89;
}
.fa-edit:hover{
	color:#404041;
}
</style>
<div id="mainDiv" style="margin: 0px; padding: 0px; width:100%; height: 800px; background-color: #ffffff; font-size:14px; color:#404041;">
		<table style="width:100%;" border="0" cellpadding='10px' class='table table-striped'>
			<tr><td colspan='3'><h3>Historial de Facturas</h3></td></tr>
			<tr>
				<td style="text-align:center; vertical-align:middle; width: 550px;">
					<table align='center' style="text-align:center;margin-left: 0px; margin-right: auto;" border="0" cellpadding="4px" cellspacing="10px">
						<tr>
							<td style='vertical-align:middle;'>
								<input placeholder='Desde' type="text" class='form-control' id="fechadesde" name="fechadesde" style='margin:5px;'/>
							</td>
							<!--<td style='vertical-align:middle;'>
								<input placeholder='Hasta' type="text" class='form-control' id="fechahasta" name="fechahasta" style='margin:5px;'/>
							</td>-->
							<td  style='vertical-align:middle;'>
                                <button type='button' class="btn btn-primary" onclick="page=0; getSearch(); return false;">Filtrar</button>
							</td>
						</tr>
					</table>
				</td>
                <td style="text-align:right; vertical-align:middle; width: 50px;">
					<table align='center' style="text-align:center;margin-left: 0px; margin-right: auto;" border="0" cellpadding="4px" cellspacing="10px">
						<tr>
							<td style='vertical-align:middle;width: 20%;'>
							</td>
							<!--<td style='vertical-align:middle;'>
								<input placeholder='Hasta' type="text" class='form-control' id="fechahasta" name="fechahasta" style='margin:5px;'/>
							</td>-->
							<td  style='vertical-align:middle;'>
                                <b>TOTAL$</b> <span id="totalencabezado"></span>
							</td>
                            <td style='vertical-align:middle;width: 20%;'>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="detailDiv" style="height:100%; padding-top:20px; margin:0px; font-size:15px;"></div>
				</td>
			</tr>
            <tr>
				<td colspan="2" style="background-color: #FFFFFF;">
                    <div id="detailDiva" style="height:100%;padding-top:20px;font-size:15px;background-color: #FFFFFF;"></div>
				</td>
			</tr>
			<tr style="display: none;">
				<td colspan="2" style='text-align:center;'>
					<ul class="pagination paginacion-lg" id='paginacion'>
					</ul>
					<input id='totalpags' style='display:none;'/>
				</td>
			</tr>
		</table>		
</div>

<script type="text/javascript">
var page=0;

$(document).ready(function(){
$('#fechahasta,#fechadesde').datepicker({"dateFormat":"yy-mm-dd"});

var fechahoyaux=new Date();
fechahoyaux=parseInt(fechahoyaux.getTime());
fechahoyaux=new Date(fechahoyaux);
var meshoy=parseInt(fechahoyaux.getMonth())+1;
    if(meshoy.toString().length<2)
    	meshoy="0"+meshoy.toString();
var fechahoyformataux=fechahoyaux.getFullYear()+"-"+meshoy+"-"+fechahoyaux.getDate();

//console.log(fechahoy.getTime());
//var fechamenos=parseInt(fechahoy.getTime())-(7*86400000);
//console.log(fechamenos);
/*var fechaanterior=new Date(fechamenos);
var mesant=parseInt(fechaanterior.getMonth())+1;
if(mesant.toString().length<2)
	mesant="0"+mesant.toString();
var fechaantformat=fechaanterior.getFullYear()+"-"+mesant+"-"+fechaanterior.getDate();*/

//$('#fechadesde').val(fechaantformat);
$('#fechadesde').val(fechahoyformataux);
//$('#fechahasta').val(fechahoyformat);

getSearch();
});

function getSearch(){
	//console.log($('#fechadesde').val());
	var filtrodesde=new Date($('#fechadesde').val());
    var fechahoy=new Date($('#fechadesde').val());
    fechahoy=parseInt(fechahoy.getTime())+86400000;
	filtrodesde=filtrodesde.getTime();
	filtrohasta=fechahoy;
    console.log(filtrodesde);
    console.log(filtrohasta);
	var desde=2000000*page;
	var queryextra=' id is not NULL';
	if(filtrodesde!='')
		queryextra+=' and fecha >='+filtrodesde+' and fecha <='+filtrohasta+' ';

	var db = window.openDatabase("Database", "1.0", "PractisisMobile", 200000);
	db.transaction(function(tx){
		tx.executeSql('SELECT * FROM FACTURAS WHERE '+queryextra+' ORDER BY id desc',[],function(tx,result){
			$('#paginacion').html('');
			var npags=Math.ceil(result.rows.length/2000000);
			$('#totalpags').val(npags);
			$('#paginacion').append("<li onclick='CambiarPagina(-1);'><span class='enabled' id='atras'>&laquo;</span></li>");
			for(var j=0;j<npags;j++){
				var act='';
				if(page==j)
					act='active';
				$('#paginacion').append("<li class='"+act+"' onclick='CambiarPagina("+parseInt(j)+");'><span class='enabled'>"+parseInt(j+1)+"</span></li>");
			}
			$('#paginacion').append("<li onclick='CambiarPagina(-2);'><span class='enabled' id='adelante'>&raquo;</span></li>");
		});
	},errorCB,successCB);
	
	//var miquery='SELECT * FROM FACTURAS WHERE '+queryextra+' ORDER BY id desc LIMIT '+desde+',15;';
    var miquery='SELECT * FROM FACTURAS WHERE '+queryextra+' ORDER BY id desc;';
	//console.log(miquery);

	db.transaction(function(tx){
	tx.executeSql(miquery,[],function(tx,results){
		//console.log(results);
		var inhtml='';
        var inhtmla='';
        var totalfinal = 0;
		for (var i=0; i < results.rows.length; i++){
			var row = results.rows.item(i);
			//console.log(row.fecha);
			var timefecha=new Date(row.fecha);
			var mes=timefecha.getMonth()+1;
			if(mes.toString().length<2)
				mes="0"+mes.toString();
			var fechaformat=("00" + timefecha.getDate()).slice(-2)+"/"+mes+"/"+timefecha.getFullYear()+" "+("00" + timefecha.getHours()).slice(-2)+":"+("00" + timefecha.getMinutes()).slice(-2)+":"+("00" + timefecha.getSeconds()).slice(-2);
			//console.log(row);
			var func="EditarFactura("+row.id+");";
			var datosfact=JSON.parse(row.fetchJson);
			var totalf=parseFloat(datosfact.Pagar[0].factura.total).toFixed(2);
            totalfinal += parseFloat(totalf);
			inhtml+='<tr><td>'+fechaformat+'</td><td>'+row.clientName+'</td><td>'+row.RUC+'</td><td>'+("000000000" + row.id).slice(-9)+'</td><td style="text-align:right;">'+totalf+'</td><td><span class="fa fa-edit" style="cursor:pointer;" onclick="'+func+'"></span></td></tr>';
		}
        inhtml+='<tr><td></td><td></td><td></td><td style="text-align: right;"><b>TOTAL$</b></td><td style="text-align:right;"><b>'+totalfinal.toFixed(2)+'</b></td><td></td></tr>';
        $('#totalencabezado').html(totalfinal.toFixed(2));
        var valorformapago = 0;
        var valortotal = 0;
        var con = 0;
        JSON.parse($('#jsonformaspago').html(), function (k, v) {
          if(v['id'] != undefined){
            //console.log(v['id']+'**'+v['nombre']);
            //var dba = window.openDatabase("Database", "1.0", "PractisisMobile", 200000);
        	//db.transaction(function(txa){
            var totalfaux = 0;
        		tx.executeSql('select fetchJson from FACTURAS where '+queryextra+' and paymentsUsed="'+v['id']+'" ORDER BY id desc',[],function(tx,resulta){
                    for (var k=0; k < resulta.rows.length; k++){
                    var rowa = resulta.rows.item(k);
                    var datosfacta=JSON.parse(rowa.fetchJson);
			        var totalfa = parseFloat(datosfacta.Pagar[0].factura.total);
                    totalfaux += totalfa;
			        //console.log(rowa.total);
                    }
                    con++;
                    inhtmla+='<tr><td style="text-align: right;">'+v['nombre']+'$</td><td style="text-align:right;">'+totalfaux.toFixed(2)+'</td></tr>';
                    valortotal += totalfaux;
                    if(con==7){
                        inhtmla += '<tr><td style="text-align: right;"><b>TOTAL$</b></td><td style="text-align:right;"><b>'+valortotal.toFixed(2)+'</b></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>';
                    }
                    LlenarTablaFacturasp(inhtmla);
        		});
        	//},errorCB,successCB);

          }
            return v;                  // return the unchanged property value.
        });
        LlenarTablaFacturas(inhtml);
	});
	},errorCB,successCB);
}

function LlenarTablaFacturas(datos){
	$('#detailDiv').html("<table align='center' class='table'><tr><th>Fecha</th><th>Cliente</th><th>RUC</th><th># Factura</th><th style='text-align:right;'>Total$</th><th><span class='fa fa-cog'></span></th>"+datos+"</table>");
}
function LlenarTablaFacturasp(datosp){
	$('#detailDiva').html("<div style='background-color: #FFFFFF;'><table align='right' class='table' style='width: 25%;'><tr><th colspan='2' style='text-align:center;'>Formas de Pago</th></tr>"+datosp+"</table><div>");
}
function LlenarTablaFacturasau(datosau){

  console.log(datosau+'**');
	$('#tablaformapago').append(datosau);
}

function CambiarPagina(arg){
	//console.log($('#totalpags').val());
	if(arg==-1){
		if((page-1)>=0){
			page--;
			getSearch();
		}
	}else if(arg==-2){
		//console.log($('#totalpags').val());
		if((page+1)<parseInt($('#totalpags').val())){
			page++;
			getSearch();
		}
	}else{
		page=arg;
		getSearch();
	}
	
}

$(document).keyup(function(event){
	if(event.keyCode === 13){
		getSearch();
		}
});

function EditarFactura(idfactura){
	$('#content').load("views/facturacion/editarfactura.html",function(){
		VerDatosFactura(idfactura);
	});
}
</script>